services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    ports: # ← ★★★これを追記してください★★★
      - "8080:8080" # パソコンの8080番ポートを、コンテナの8080番ポートに接続します
    depends_on:
      - mysql
      - adminer
  mysql:
    image: mysql:latest
    ports:
      - "3307:3306"
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=springwork_2025g2
      - MYSQL_USER=mysql
      - MYSQL_PASSWORD=password
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --key_buffer_size=1048576 --myisam_sort_buffer_size=1048576 --innodb_buffer_pool_size=5242880 --innodb_log_buffer_size=1048576 --innodb-redo-log-capacity=8388608 --max-connections=24 --open_files_limit=1024 --table_definition_cache=400 --table_open_cache=256
    volumes:
      - mysql_data:/var/lib/mysql
  adminer:
    image: adminer:latest
    ports:
      - "8081:8080"
volumes:
  mysql_data:

